<template>
  <div class="exo-form">
    <h1 class="title">
      <span class="up"></span>
      <span class="text">Titre</span>
    </h1>
    <b-form @submit="submit">
      <b-row>
        <b-col class="form">
          <b-form-group label="Civilité*" label-cols-sm="3" class="civility">
            <b-form-radio-group
              id="civility"
              name="civility"
              v-validate="'required'"
              v-model="form.civility"
              :options="civilities"
              :state="validateState('civility')"
              class="pt-2"
            ></b-form-radio-group>
            <b-form-invalid-feedback>{{ veeErrors.first('civility') }}</b-form-invalid-feedback>
          </b-form-group>

          <b-form-group>
            <b-form-input
              v-validate="'required|regex:^[A-Za-zÀ-ÿ -]+$'"
              data-vv-as="Prénom"
              name="firstname"
              v-model="form.firstname"
              placeholder="Prénom*"
              :state="validateState('firstname')"
              trim
            ></b-form-input>
            <b-form-invalid-feedback>{{ veeErrors.first('firstname') }}</b-form-invalid-feedback>
          </b-form-group>

          <b-form-group>
            <b-form-input
              v-validate="'required|regex:^[A-Za-zÀ-ÿ -]+$'"
              data-vv-as="Nom"
              name="lastname"
              v-model="form.lastname"
              placeholder="Nom*"
              :state="validateState('lastname')"
              trim
            ></b-form-input>
            <b-form-invalid-feedback>{{ veeErrors.first('lastname') }}</b-form-invalid-feedback>
          </b-form-group>

          <b-form-group>
            <b-form-input
              v-validate="'required|digits:5'"
              data-vv-as="Code postal"
              name="pc"
              v-model="form.pc"
              placeholder="Code postal*"
              :state="validateState('pc')"
              trim
            ></b-form-input>
            <b-form-invalid-feedback>{{ veeErrors.first('pc') }}</b-form-invalid-feedback>
          </b-form-group>

          <b-form-group>
            <b-form-input
              v-validate="'required|regex:^[A-Za-zÀ-ÿ -]+$'"
              data-vv-as="Ville"
              name="city"
              v-model="form.city"
              placeholder="Ville*"
              :state="validateState('city')"
              trim
            ></b-form-input>
            <b-form-invalid-feedback>{{ veeErrors.first('city') }}</b-form-invalid-feedback>
          </b-form-group>

          <b-form-group>
            <b-form-input
              v-validate="'required|regex:^[A-Za-zÀ-ÿ -]+$'"
              data-vv-as="Raison social"
              name="reason"
              v-model="form.reason"
              placeholder="Raison social*"
              :state="validateState('reason')"
              trim
            ></b-form-input>
            <b-form-invalid-feedback>{{ veeErrors.first('reason') }}</b-form-invalid-feedback>
          </b-form-group>

          <b-form-group>
            <b-form-input
              v-validate="'required|digits:10'"
              data-vv-as="Téléphone"
              name="phone"
              v-model="form.phone"
              placeholder="Téléphone*"
              type="tel"
              :state="validateState('phone')"
              trim
            ></b-form-input>
            <b-form-invalid-feedback>{{ veeErrors.first('phone') }}</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col class="form">
          <div class="d-flex flex-column justify-content-between h-100">
            <div>
              <b-form-group label="Votre demande concerne :" class="question">
                <b-form-radio-group id="choice" v-model="form.choice" name="choice" stacked>
                  <b-form-radio v-for="(item, i) in choices" :key="i" :value="item.value">
                    <span class="up"></span>
                    {{ item.text }}
                  </b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </div>
            <div>
              <div class="ns labeled button" @click="submit">
                <div class="ns label">
                  <i class="arrow"></i>
                </div>
                <div class="ns button">être recontacté</div>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-form>
    <div v-if="isValid" class="container mt-4 p-2 bg-white">
      <h4>Résultat</h4>
      <ul>
        <li>{{ form.civility }} {{ form.firstname }} {{ form.lastname }}</li>
        <li>{{ form.pc }} {{ form.city }}</li>
        <li>{{ form.reason }}</li>
        <li>{{ form.phone }}</li>
        <li>{{ form.choice }}</li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Mform',
  data () {
    return {
      form: {
        civility: null,
        firstname: '',
        lastname: '',
        pc: '',
        city: '',
        reason: '',
        phone: '',
        choice: 'Chèque Déjeuner'
      },
      civilities: [{ text: 'Mme', value: 'Mme' }, { text: 'Mr', value: 'Mr' }],
      choices: [
        { text: 'Chèque Déjeuner', value: 'Chèque Déjeuner' },
        { text: 'Cadhoc', value: 'Cadhoc' },
        { text: 'Chèque Domicile', value: 'Chèque Domicile' }
      ],
      isValid: false
    }
  },
  methods: {
    /**
     * defines the status of input fields according to the validity of the value
     */
    validateState (ref) {
      if (
        this.veeFields[ref] &&
        (this.veeFields[ref].dirty || this.veeFields[ref].validated)
      ) {
        return !this.$validator.errors.has(ref)
      }
      return null
    },
    /**
     * Send form values
     */
    send () {
      this.isValid = true

      axios
        .post('/demand', this.form)
        .then(result => {
          console.log(result)
        })
        .catch(error => {
          console.error(error.message)
        })
    },
    /**
     * Check form. if is valid, we get send method.
     */
    submit () {
      this.$validator.validate().then(result => {
        if (result) {
          this.send()
        }
      })
    }
  }
}
</script>

<style lang="scss">
.exo-form {
  max-width: 580px;
  margin: 0 auto;
}
.up,
.arrow {
  display: inline-block;
  min-width: 1rem;
  min-height: 1rem;
  background: {
    color: #f59100;
    position: center;
    size: cover;
  }
}
.up {
  background-image: url("./../assets/up.svg");
}
.arrow {
  background-image: url("./../assets/row.svg");
  min-width: 1rem;
  min-height: 1rem;
}
.title {
  display: flex;
  flex-direction: row;
  > .up {
    min-width: 3.5rem;
    min-height: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  > .text {
    margin-left: 0.5rem;
    padding: 0.7rem 1rem;
    width: 100%;
    color: #f59100;
    background-color: #fff;
    font-weight: bold;
  }
}
.civility,
.custom-control-label > span {
  color: #6c757d;
}
.form.col {
  background-color: #ffffff;
  margin: 1rem 0.3rem;
  padding: 2rem 1rem;
}
.row {
  margin-right: -5px;
  margin-left: -5px;
}
.question {
  > legend {
    color: #f59100;
  }
  .custom-control-label {
    font-weight: bold;
    color: #444;
  }
}
.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input.is-valid:checked ~ .custom-control-label::before,
.was-validated
  .custom-control-input:valid:checked
  ~ .custom-control-label::before {
  background-color: #ffffff;
  border-color: #f59100;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  width: 2px;
  height: 2px;
  background-color: #ffffff;
  border: #f59100 solid 3px;
  border-radius: 50%;
  position: absolute;
  top: 0.55rem;
  left: -1.2rem;
}
.custom-control-label::before,
.custom-control-input.is-valid ~ .custom-control-label::before,
.was-validated .custom-control-input:valid ~ .custom-control-label::before {
  border: #757575 solid 2px;
}
.form-control {
  border: none;
  border-radius: 0;
  border-bottom: #cccccc solid 1px;
  padding: 0.375rem 0;
  &:focus {
    border: none;
    border-radius: 0;
    border-bottom: #f59100 solid 1px;
    box-shadow: none;
  }
}
.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #f59100;
}
.custom-control-input.is-valid ~ .custom-control-label,
.was-validated .custom-control-input:valid ~ .custom-control-label {
  color: #f59100;
}
.ns {
  &.labeled.button {
    display: inline-flex;
    flex-direction: row;
    background-color: #f59100;
    padding: 0;
    cursor: pointer;
    border-radius: 0.25rem;
  }
  &.label {
    padding: 0.375rem 0.75rem;
    margin: 0;
    > .arrow {
      height: 90%;
    }
  }
  &.button {
    background-color: #efefef;
    border-color: #efefef;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    color: #f59100;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.5rem 0.75rem;
    &:hover {
      background-color: #f59100;
      border-color: #f59100;
      color: #efefef;
    }
  }
}
.bg-white {
  background-color: #fff;
}
</style>
