<template>
  <div id="app">
    <b-container class="mt-5">
      <router-view/>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="scss">
html, body {
  height: 100%;
  background-color: #efefef;
}
</style>
